.matches-section {
  margin-top: 20px;
}

.match-box {
  background-color: rgba(0, 59, 136, 0.726); /* Light sky blue semi-transparent background for the match box */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.match-box:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

h2 {
  color: #00ffee; /* Lime green text color */
  margin: 0;
  font-size: 18px;
  transition: color 0.3s ease;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
}

.schedule-info {
  margin-top: 20px;
}

.schedule-info p {
  color: #fff;
  font-size: 16px;
}
